.upvotes-container {
  width: 40px;
  height: 53px;
  margin-right: 40px;
  cursor: pointer;

  &__default {
    background-color: $color-blue-white;
  }

  &__liked {
    background-color: $color-blue-purple;
    color: #fff;

    img {
      filter: brightness(0) invert(1);
    }
  }

  img {
    margin-bottom: 3px;
  }
}
