.invoice-container {
  position: relative;
  width: 100%;
  height: max-content;
  padding: 28px 32px;
  background-color: #fff;

  section {
    width: 75%;
    margin-right: auto;

    h3 {
      width: fit-content;
    }

    .clickable {
      pointer-events: all;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .unclickable {
      pointer-events: none;
      text-decoration: none;
    }

    .description {
      word-wrap: break-word;
      margin: 8px 0 12px;
    }
  }
}

.invoice-container:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 380px) {
  .invoice-container {
    section {
      .description {
        text-align: justify;
      }
    }
  }
}
