.account-container {
  margin: auto;
  width: max-content;
  height: auto;

  .choice-div {
    margin: 20px auto;
    width: max-content;
    gap: 40px;
  }

  .activeLink {
    color: $color-blue-purple;
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 640px) {
  .account-container {
    padding: 40px 0;
  }
}

@media screen and (max-width: 460px) {
  .account-container {
    width: 90%;
  }
}
