$color-grey: #f2f2f2;
$color-purple: #ad1fea;
$color-blue-purple: #4661e6;
$color-blue-dark: #373f68;
$color-blue-white: #f2f4ff;
$color-blue-grey: #647196;
$color-red: #d73737;

* {
  font-family: "Jost", sans-serif;
  font-style: normal;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: $color-grey;
  padding: 40px 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input[type="submit"] {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.border-radius {
  border-radius: 10px;
}

.positionCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auto {
  margin: auto;
}

.flex {
  display: flex;

  &__alignCenter {
    align-items: center;
  }

  &__justifyCenter {
    justify-content: center;
  }

  &__wrap {
    flex-wrap: wrap;
  }

  &__spaceBtw {
    justify-content: space-between;
  }

  &__column {
    flex-direction: column;
  }
}

.errorMessage {
  color: $color-red;
  margin-bottom: 20px;
  font-weight: 700;
}

.active {
  pointer-events: all;
  opacity: 1;
}

.inactive {
  pointer-events: none;
  opacity: 0.5;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.333333px;
  mix-blend-mode: normal;
  opacity: 0.96;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.194444px;
}

.body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.body2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.body3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.75;
}

.body4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
}

@media screen and (max-width: 640px) {
  #root {
    padding: 0;
  }

  /*h3 {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.180556px;
  } */
}
