.addComment-container {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 24px 34px;

  h3 {
    margin-bottom: 24px;
  }

  form {
    width: 100%;
    height: auto;

    textarea {
      width: 100%;
      height: 80px;
      background-color: $color-grey;
      border-radius: 5px;
      padding: 16px 24px;
      margin-bottom: 24px;
    }

    input[type="submit"] {
      background-color: $color-purple;
      color: #fff;
      width: 142px;
      height: 44px;
    }
  }

  div {
    width: 100%;
    height: auto;
  }
}
