.createEditFeedback-container {
  position: relative;
  width: 540px;
  height: auto;
  background-color: #fff;
  padding: 52px 40px 40px;

  span {
    position: absolute;
    top: -28px;
    left: 62px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );

    img {
      width: 16px;
      height: 16px;
      margin: auto;
      z-index: 1;
    }
  }

  form {
    width: 100%;
    height: auto;

    label {
      display: block;
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.194444px;
      color: #3a4374;
    }

    p {
      margin-bottom: 16px;
    }

    input[type="text"],
    select,
    textarea {
      width: 100%;
      background-color: $color-grey;
      border-radius: 5px;
      padding: 16px;
    }

    input,
    select {
      height: 48px;
    }

    input[type="text"],
    textarea,
    select {
      margin-bottom: 24px;
    }

    textarea {
      height: 96px;
      margin-bottom: 32px;
    }

    input[type="submit"] {
      width: max-content;
      padding: 0 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .createEditFeedback-container {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .createEditFeedback-container {
    padding: 40px 20px 20px;
  }
}
